<div class="container" style="color: #031927;">
    <div class="row text-center">

        <div class="col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
        <h2><strong>About Taco Radar</strong></h2>
        <br />
        <p>
            Taco Radar is the creation of Sara Inés Calderón with help from 
            Diana, Arsalan, AngularJS and the Yelp API. (And WebHostingHub Glyphs). 
        </p>
        <br/>
        <p>
            The idea is that no one should ever have a taco emergency, so if
            you're in a pinch and need a taco, we'll be there.
        </p>
        <br/>
        <p>Please share Taco Radar with your friends and feel free to share 
            feedback with me on Twitter, you can find me here: 
            <span>
                <a href="https://twitter.com/sarachicad">@SaraChicaD
                </a>
            </span>.
        </p>
        </div>
    </div>

</div>