<div class="container" style="background-color: #C8E0F4; color: #031927;">
    <div class="row text-center">
        <h1><strong>About Taco Radar</strong></h1>
        <br />
        <p>
            Taco Radar is the creation of Sara Inés Calderón with help from 
            Diana, Arsalan, AngularJS and the Yelp API. (And WebHostingHub Glyphs). 
            The idea was that no one should ever have a taco emergency, so if
            you're in a pinch and need a taco, we will be there.
        </p>
        <p>Please share Taco Radar with your friends and feel free to share 
            feedback with me on Twitter, you can find me here: 
            <span><a href="https://twitter.com/sarachicad">@SaraChicaD</a></span>.
        </p>
    </div>

</div>