<div class="container" style="background-color: #C8E0F4; color: #031927;">
	<div class="row text-center">
		<h1><strong>Never fear, Taco Radar is here!</strong></h1>
		<br />
		<p>
			Need a taco? All you have to do is press the "Taco Me" 
			button and we'll whip up the 5 nearest tacos to you!
		</p>
	</div>
	<br />
	<div class="row text-center">
		<button class="btn btn-lg" style="background-color: #BA1200; text-decoration-color: #031927; border: 2px solid #031927; border-radius: 4px;">
			<strong>Taco Me!</strong>
		</button>
	</div>
	<br />
	<div class="row text-center">
		<ul class="text-center list-unstyled">
			<!--ng-repeat results here-->
			<li>TACO 1</li>
			<li>TACO 2</li>
			<li>TACO 3</li>
		</ul>
	</div>

</div>